@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;800&display=swap');
/*Fuente de letra de google fonts*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
/*Definir tamaño del contenido para centrarlo*/
.container {
    max-width: 1200px;
    margin:0 auto;
}

.header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(img/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center; 
}

.menu {
    position: absolute;
    top:  0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}
/*Cambia el color de las letras en la barra*/
.menu .navbar ul li a:hover{
    color: #CE967B;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}
/*Boton de navegacion*/
.btn-1 {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffff;
    border: 0;
    border-radius: 25px;
    background-color: #ebad8d;
    box-shadow: 0 0 20px rgba(190, 157, 27, 0.4);
    cursor: pointer;
    width: 50%;
}

.btn-1:hover {
    background-color: #e7824f;
}

.coffee {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
    text-align: justify;
}
/*Forma de estilo de los cafes mas destacados de la pagina*/
.coffee-group {
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffee-1 {
    padding: 0 15px;
}

.coffee-1 img {
    width: 200px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;
}

.coffee-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: justify;
}
/*Acomodamos los textos de servicios y le agregamos una imagen de fondo*/
.servicio {
    background-image: linear-gradient(
        rgba(0, 0 ,0 ,0.7),
        rgba(0, 0 ,0 ,0.7)),
        url(img/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.servicio-content {
    text-align: center;
}

.servicio-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin: 50px;
}

.servicio-content p {
    font-size: 20px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.servicio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.servicio-1{
    padding: 0 100px;
}

.servicio-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.servicio-1 h3 {
    color: #ebad8d;
    font-size: 18px;
    text-align: justify;
}
/*Seccion de lo destacado*/
.General {
    display: flex;
}

.General-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.General-2 {
    background-image: url(img/coffee\ india2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.General-3 {
    background-image: url(img/coffee\ india.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 45px;
    line-height: 85%;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
    text-align: justify;
}

.Opinion {
    padding: 100px 0;
    text-align: center;
}

.Opinion-content {
    display: flex;
    justify-content: space-between;
}

.Opinion-1 {
    padding: 15px 55px;
}

.Opinion-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.Opinion-1 h3 {
    font-size: 25px;
    color: #323337;
}
/*Color del footer*/
.pie-pagina{
    width: 100%;
    background-color: #010202;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .texto-pie figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .img-pie figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .texto-pie h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .texto-pie p{
    color: #efefef;
    margin-bottom: 10px;
    text-align: justify;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #25272a;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #CE967B;
}


/*Acomodar pagina a pantalla movil*/
@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content {
        padding: 150px 50px;
    }

    .header-content p {
        padding: 0;
    }

    .coffee {
        padding: 30px;
    }

    .coffee-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
        text-align: justify;
    }

    .coffee-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .coffee-img {
        display: none;
    }
/*Seccion de Menú*/
    .servicio {
        padding: 30px;
    }

    .servicio-content p {
        padding: 0;
    }

    .servicio-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .servicio-1 {
        margin-bottom: 25px;
    }

    .servicio-1 h3 {
        text-align: center;
    }

    .General {
        flex-direction: column;
    }

    .General-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .General-2, .General-3 {
        display: none;
    }

    .Opinion{
        padding: 30px;
    }

    .Opinion-content {
        flex-direction: column;
    }

    .Opinion-1 {
        padding: 0;
    }

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

}










