@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700;800&display=swap');
/*Fuente de letra de google fonts*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.134),
        rgba(0, 0, 0, 0.04)),
        url(img/porta.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 100px 0;
} 

.menu {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #333128;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 200px;
    min-width: 400px;
}

table {
    width: 100%;
}

th , td {
    color: #ffffff;
}

.borrar {
    background-color: #000000;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
}
/* Cambia el valor según el tamaño deseado de la frase principal de la pagina tienda */
.header-txt {
    flex-basis: 50%;
    text-align: justify;
    font-size: 5px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 1;
    color: #333128;
    margin-bottom: 25px;
}

p {
    font-size: 18px;
    color: #181713;
    margin-bottom: 45px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    color: #ffffff;
    border-radius: 25px;
    background-color: #8dc84b;
    text-transform: capitalize;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    width: 400px;
}
/*ofertas de productos premium*/
.ofertas {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.oferta-1 {
    text-align: center;
    flex-basis: calc(25% - 20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 35px;
    
}

.oferta-1 img {
    width: 140px;
    margin-bottom: 10px;
}

.oferta-1 p {
    font-size: 15px;
    margin: 0;
    font-weight: 600;
    color: #e89b1f;
}
/*Centre los productos destacados pero aun falta completar la tienda*/
.productos {
    padding: 0 0 100px 0;
    text-align: center;
}

.productos h2 {
    font-size: 40px;
    color: #181713;
    text-transform: capitalize;
    margin-bottom: 55px;
}

.producto-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.producto {
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 35px;
}

.producto img {
    width: 150px;
    height: 130px;
    margin-bottom: 10px;
}

.producto h3 {
    color: #000000;
}

.producto p {
    font-size: 15px;
    margin: 0;
    color: #181713;
}

.btn-2 {
    display: inline-block;
    margin-top: 15px;
    padding: 7px 25px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #e89b1f;
}

/*Color del boton al clickear*/
.btn-2:hover {
    background-color: #e5a331;
}

/*Color del footer*/
.pie-pagina{
    width: 100%;
    background-color: #010202;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .texto-pie figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .img-pie figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .texto-pie h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .texto-pie p{
    color: #efefef;
    margin-bottom: 10px;
    text-align: justify;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #292e33;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #CE967B;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        color: #ffffff;
    }

    .logo {
        display: none;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .submenu:hover #carrito {
        min-width: 340px;
    }
    
    .header {
        min-height: 0vh;
        padding: 100px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-bottom: 20px;
    }

    .header-img img {
        width: 300px;
    }

    .information {
        display: none;
    }
    
    .ofertas {
        padding: 30px;
        flex-direction: column;
    }

    .oferta-1 {
        margin-bottom: 25px;
    }

    .productos {
        padding: 30px;
    }

    .producto-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .servicio {
        flex-direction: column;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

}


